<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hi, {{name}}</h1>
        <h2>Welcome To Our Website!</h2>
        <h4>We Provide The Best Groceries For you!</h4>
        <a href="{{fe_url}}" target="_blank">
            <button >Verify Account</button>
        </a>
    </div>
</body>
</html>